body {
  background-color: rgb(68, 65, 65);
  margin: 0;
}
.head {
  background-color: #171a21;
  height: 110px;
}
.search {
  display: flex;
}
.searchbar {
  font-size: 16px;
  color: grey;
  top: 130px;
  width: auto;
  text-align: center;
  left: 30%;
  background-color: rgba(68, 72, 138, 0.679);
  position: absolute;
  padding: 5px;
}

.content {
  background-color: rgb(58, 78, 116);
  display:table-cell;
}

.sidebar {
  margin-left: 210px;
  width: 180px;
  height: auto;
}

.footer {
  background-color: rgb(21, 20, 20);
}

main,
header,
section,
aside,
footer,
.game,
.game2,
.game3,
.game4,
.promotion,
.catalogue,
.searchbar {
  color: #ffffff;
}

.mainbox {
  background-color: #1b2838;
  display: flex;
  height: auto;
}

.game {
  display: flex;
  width: 80%;
  height: auto;
}

.promotion {
  display: flex;
  width: 80%;
}

.catalogue {
  display: flex;
  width: 80%;
}

.game1,
.game2,
.game3,
.game4 {
  display: flex;
}

.topright {
  position: absolute;
  top: 8px;
  right: 10%;
  font-size: 14px;
  margin-right: 300px;
}
.middle {
  position: absolute;
  top: 40px;
  left: 20%;
}
.middletext {
  position: absolute;
  top: 55px;
  left: 37%;
  font-size: 14px;
}
.right {
  right: 0%;
  background-color: rgba(127, 127, 175, 0.521);
  color: white;
}

.searchbar > a {
  text-decoration: none;
  padding-inline: 10px;
}
.buttonsearch {
  color: rgb(218, 214, 214);
}
.buttonsearch:hover {
  color: #ffffff;
  background-color: rgb(162, 162, 230);
}
.install {
  background-color: green;
}
.sidebar > a {
  color: #66c0f4;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
